
@{
    ViewData["Title"] = "Admin page";
}

<h1>Admin page</h1>
<a class="navbar-brand" asp-area="" asp-controller="Employees" asp-action="Index">Employee</a>
<a class="navbar-brand" asp-area="" asp-controller="Pasports" asp-action="Index">Pasport</a>
<a class="navbar-brand" asp-area="" asp-controller="Cars" asp-action="Index">Cars</a>
<a class="navbar-brand" asp-area="" asp-controller="Histories" asp-action="Index">History</a>

